@model FirstMVCProject.Models.Animal

@{
    ViewData["Title"] = "Create";
}


<h1>Crear Nuevo Animal</h1>

<div>
     @* <form asp-action="Create">
        <div class="form-group">
            <label asp-for="@Model.NombreAnimal" class="control-label">Nombre del Animal</label>
            <input asp-for="@Model.NombreAnimal" class="form-control"/>
            <span asp-validation-for="@Model.NombreAnimal" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Raza" class="control-label">Raza</label>
            <input asp-for="@Model.Raza" class="form-control" />
            <span asp-validation-for="@Model.Raza" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.RIdTipoAnimal" class="control-label">Tipo de Animal</label>
            <select asp-for="@Model.RIdTipoAnimal" class="form-control" asp-items="ViewBag.TipoAnimales"></select>
            <span asp-validation-for="@Model.RIdTipoAnimal" class="text-danger"></span>
        </div> 

        <div class="form-group">
            <label asp-for="@Model.FechaNacimiento" class="control-label">Fecha de Nacimiento</label>
            <input asp-for="@Model.FechaNacimiento" class="form-control" type="date" />
            <span asp-validation-for="@Model.FechaNacimiento" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Crear</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>  *@
</div>

